startpos-api
.DS_Store
*.pyc
ZatcaPython/venv_aspose_fix/
ZatcaPython/templates/
ZatcaPython/*.pdf
ZatcaPython/*.xml
ZatcaPython/*.jar
ZatcaPython/*.py
ZatcaPython/utilities/__pycache__/
ZatcaPython/utilities/fatoora-cli-simulation/
ZatcaPython/utilities/fatoora-cli-simulation-dotnet/
ZatcaPython/utilities/fatoora-cli-simulation_new/
ZatcaPython/utilities/fatoora-cli/
ZatcaPython/repaired.pdf
